<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FLXDSK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Flexor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Impresora local-->
    <add key="puerto" value="COM1" />
    <add key="baudios" value="9600" />
    <add key="paridad" value="None" />
    <add key="databits" value="8" />
    <add key="stopbits" value="One" />
    <add key="handshak" value="None" />
    <add key="rtsEnable" value="true" />


    <add key="SiProduccion" value="0" />
    <add key="RUTASERVER" value="\\DESARROLLO-PC\chefcontrol\img" />
    <add key="USERSERVER" value="EsEakpKqf0Buo9czN7BsMlMSvIPA/eM4FG4tMyvxNT8=" />
    <!--lddWkvE7wnT/eM2LhtP0wfBJUpXejKfCmW2Bj9rXkBw=  ctenorio-->
    <add key="CLAVESERVER" value="YWcBa+YHITaftvMCNIcCdQ==" />
    <!--cCh09/1Tcsrp1nJGkM3nbpAkH45Z7qE/g7GsvO9VRrA=    It1422Flx-->

    <add key="server" value="192.168.50.50" />
    <add key="usuario_DB" value="oTOixsu6aQSUpMAeF/ajWQ==" />
    <add key="clave_DB" value="VYiK7Li0Y9bZPA1ucapyPA==" />
    <add key="DB" value="9PMQM+CSAXjlTeKSpmyEkQ==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="Update" value="update.exe" />

    <add key="Latitud" value="20.657640" />
    <add key="Longitud" value="-103.413332" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <FLXDSK.Properties.Settings>
      <setting name="FLXDSK_wUpdate_Service1" serializeAs="String">
        <value>http://flexorcloud.com.mx/update/Service1.asmx</value>
      </setting>
      <setting name="FLXDSK_wFlexor_Service1" serializeAs="String">
        <value>http://flexorcloud.com.mx/timbradov33/Proceso.asmx</value>
      </setting>
      <setting name="FLXDSK_WrServERP_fnGenerales" serializeAs="String">
        <value>http://192.168.50.50/ERP/wsdl/puntodventa/index.php</value>
      </setting>
      <setting name="FLXDSK_wschefControl_Service1" serializeAs="String">
        <value>http://flexorcloud.com.mx/chefcontrol/Service1.asmx</value>
      </setting>
    </FLXDSK.Properties.Settings>
  </applicationSettings>
</configuration>
