<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FLXDSK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="server" value="ITROL-DESARROLL\SQLEXPRESS"/>
    <add key="usuario_DB" value="soft"/>
    <add key="clave_DB" value="itrolmx"/>
    
    <add key="DB" value="FLXDSK"/>
    
  </appSettings>
  <applicationSettings>
    <FLXDSK.Properties.Settings>
      <setting name="FLXDSK_flexorwsdl_FuncionesPlataformas" serializeAs="String">
        <value>http://itrol.dyndns.org/AdmDeskFlexorFac/wsdlflex/index.php</value>
      </setting>
      <setting name="FLXDSK_timbreplataformas_Service1" serializeAs="String">
        <value>http://itrol.dyndns.org:9000/Service1.asmx</value>
      </setting>
      <setting name="FLXDSK_timbreprod_Service1" serializeAs="String">
        <value>http://timbrevirtual.mx/Service1.asmx</value>
      </setting>
      <setting name="FLXDSK_prodflexorwsdl_FuncionesPlataformas" serializeAs="String">
        <value>http://virtualcfdi.mx/flexordesk/wsdlflex/index.php</value>
      </setting>
    </FLXDSK.Properties.Settings>
  </applicationSettings>
</configuration>